.bookedSiteContainer {
  background-color: var(--main-background);
  height: 100vh;
}

#bookedSiteMain {
  margin-left: 10vw;
  margin-top: 10vh;
  margin-bottom: 7vh;
  border: 5px solid var(--forest-color);
  height: 60vh;
  width: 80vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#sidewaysFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1,
h2 {
  margin-bottom: 0px;
}

h3 {
  color: var(--green-color);
}

.bookedPara {
  text-decoration: rgb(4, 4, 163) wavy underline;
  margin-left: 3px;
}

.bookedSpan {
  color: var(--orange-color);
}

.bookedSpan2 {
  color: var(--orange-color);
}

@media (max-width: 600px) {
  #bookedSiteMain {
    padding-bottom: 2vh;
    height: auto;
    width: 90vw;
    max-width: 90vw;
    border-radius: 10px;
    margin-left: 5vw;
    margin-bottom: 5vh;
  }
}
