.circleDivContainer {
  width: 18.67vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  /* height: 100vh; */
}

.circleImage {
  height: 17vw;
  width: 17vw;
}

.circleDivWriting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  padding: 5px;
}

.circleDivTitle {
  font-size: 2vw;
  height: 8vh;
  margin-bottom: 4vh;
}

.circleDivComment {
  font-size: 1.3vw;
  margin-bottom: 4vh;
}
