.circleDivContainer {
  width: 18.67vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.circleImage {
  height: 17vw;
  width: 17vw;
}

.circleDivWriting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  padding: 5px;
}

.circleDivTitle {
  font-size: 150%;
  height: 8vh;
}

.circleDivComment {
  font-size: 20px;
}
