.halfImage {
  width: 30vw;
  border-radius: 20px;
}

.halfDivContainer {
  position: relative;
  transition: top ease 0.5s;
}

.halfDivContainer:hover {
  top: -10px;
}

.halfDivBottom {
  height: 12vh;
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  left: 0px;
  bottom: 0;
  z-index: 1000;
  border-radius: 0 0 15px 15px;
}

.halfDivWriting {
  color: white;
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 3vh; */
  padding-left: 2vw;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.halfButtonContainer {
  width: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
}

.halfBtn {
  height: 8vh;
  width: 10vw;
  margin-right: 2vw;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
}

.halfBtn:hover {
  cursor: pointer;
}

.titleH2 {
  text-decoration: none;
}
