#headerDiv {
  height: 10vh;
  width: 100%;
  background-color: var(--main-background);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;
}

#logo-div {
  width: 50vw;
  display: flex;
  justify-content: start;
}

.logo {
  padding-left: 2vw;
  height: 40px;
  cursor: pointer;
}

#header-btns {
  padding-right: 2vw;
  width: 50vw;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 21px;
  gap: 25px;
}

.header-btn {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  transition: border-bottom 0.25s ease 0s;
  cursor: pointer;
}

.header-btn:hover {
  border-bottom: 2px solid var(--green-color);
}

#signUp-btn {
  background-color: var(--green-color);
  color: white;
  height: 40px;
  width: 110px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  padding: 6px 16px 8px;
  transition: background 0.2s ease 0s;
}

#signUp-btn:hover {
  background-color: white;
  color: var(--green-color);
  border: 2px solid var(--green-color);
}

#rightHeaderLarge {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  font-size: 3vh;
}

#rightHeaderSmall {
  display: none;
}

@media (max-width: 1000px) {
  #rightHeaderSmall {
    display: block;
  }

  #rightHeaderLarge {
    display: none;
  }
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: absolute;
  top: 10vh;
  background-color: var(--forest-color);
  height: 90vh;
  z-index: 9;
  margin: 0;
  display: block;
  opacity: 1;
  transition: 1s;
  right: -10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
  padding-top: 4vh;
  padding-left: 10vw;
}

.menuNav.showMenu {
  width: 100%;
}
.menuNav.hideNav {
  width: 0%;
}

.menuItem {
  font-size: 2.2vh;
  padding-bottom: 2vh;
  border: 3px solid white;
  width: 50vw;
  max-width: 300px;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2vh;
  font-size: 3vh;
  margin-bottom: 2vh;
  color: white;
}

.menuItem:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

.xBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  border: 3px solid var(--forest-color);
  border-radius: 50%;
  height: 2vw;
  width: 2vw;
}

#signUp-btn2 {
  background-color: white;
  color: var(--forest-color);
  transition: background 0.2s ease 0s;
  font-size: 2.2vh;
  border: 3px solid white;
  width: 50vw;
  max-width: 300px;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2vh;
  font-size: 3vh;
  margin-bottom: 2vh;
  font-weight: bolder;
}

#signUp-btn2:hover {
  background-color: var(--forest-color);
  color: white;
}

.whiteFont {
  color: white;
  text-decoration: none;
}
