#ownerImage {
  width: 100%;
  height: 90vh;
}

form {
  padding-bottom: 20px;
}

.InputLandContainer {
  background-color: var(--main-background);
  padding-bottom: 20px;
  height: 150vh;
}

#inputFormContainer {
  background-color: var(--main-background);
  position: absolute;
  top: 12vh;
  left: 10vw;
  width: 50vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  border: 5px solid gray;
}

.radioDivHold {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.radioContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#infoTextArea {
  width: 40ch;
  height: 30ch;
  border-radius: 20px;
  border: 2px solid var(--green-color);
}

.radioVerticalHold {
  display: flex;
  flex-direction: column;
}
.largeCountRadio {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.leftAlign {
  width: 100%;
  display: flex;
  gap: 0px;
}

.labelLeft {
  width: 30%;
  text-align: left;
}

.inputRight {
  width: 40ch;
  border-radius: 20px;
  border: 2px solid var(--green-color);
}

.numberInput {
  width: 7ch;
  border-radius: 20px;
  border: 2px solid var(--forest-color);
}

.multiContainer {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  border: 1px solid black;
  border-radius: 20px;
  border: 2px solid var(--pool);
}

.radioClass {
  border-radius: 20px;
  border: 2px solid var(--forest-color);
}

.radioHoldP {
  margin-top: 5px;
}

.selectClass {
  border-radius: 20px;
  border: 2px solid var(--orange-color);
}

.submitBtnContainer {
  width: 100%;
  padding-top: 20px;
}

.subBtn {
  width: 30ch;
  height: 35px;
  font-size: large;
  background-color: var(--green-color);
  color: white;
  border: none;
  border-radius: 20px;
}

.disableBtn {
  width: 30ch;
  height: 35px;
  font-size: large;
  background-color: lightgray;
  color: white;
  border: none;
  border-radius: 20px;
}

/* ! Ipad Settings  */
@media (max-width: 1000px) and (min-width: 601px) {
  #inputFormContainer {
    width: 70vw;
  }
}

/* ! Phone Settings  */
@media (max-width: 600px) {
  .InputLandContainer {
    height: 200vh;
    padding-bottom: 10vh;
  }

  #inputFormContainer {
    width: 100vw;
    max-width: 100vw;
    border-radius: 0px;
    border-left: none;
    border-right: none;
    height: auto;
    position: static;
  }

  .leftAlign {
    max-width: 90vw;
  }

  .multiContainer {
    max-width: 95vw;
  }

  .radioVerticalHold {
    max-width: 90vw;
  }

  label {
    text-align: left;
  }

  #ILandImg {
    display: none;
  }

  .labelLeft {
    width: 40vw;
  }
}
