#mainDiv {
  width: 80vw;
  margin-left: 10vw;
}

.sideBySide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
  gap: 2vw;
}

#verticalDivsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

#discoverDiv {
  display: flex;
  margin-left: 10vw;
  margin-top: 6vh;
}

.squareDivsContainer {
  margin-top: 3vh;
  margin-left: 9.5vw;
  width: 62vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
}

#mainCircleDiv {
  margin-top: 10vh;
  background-color: white;
  width: 62vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 9.5vw;
  border-radius: 20px;
  gap: 5vh;
}
#circleDivsContainer {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3vw;
}

.largeText {
  font-size: 50px;
  font-weight: bolder;
  color: rgb(91, 91, 91);
}

.lTHolder {
  width: 60vw;
}

#placesToGoMainDiv {
  margin-top: 10vh;
}

#safetyDivMain {
  margin-top: 8vh;
  margin-bottom: 5vh;
  width: 62vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3vw;
}

#safetyDivHolder {
  display: flex;
  justify-content: center;
}

.noUnderline {
  text-decoration: none;
  color: black;
}
