.safetyDivContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--limeGreen);
  color: #28400c;
  /* height: 70vh; */
  width: 18.75vw;
  border-radius: 20px;
}

.safetyImage {
  width: 10vh;
  height: 10vh;
  margin-left: 2vw;
  margin-top: 5vh;
}

.safetyDivBottom {
  /* height: 43vh; */
  display: flex;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 3vh;
  text-align: left;
  width: 75%;
}

.safetyDivWriting {
  width: 100%;
  margin-bottom: 1vh;
}

.safetyOL {
  font-size: 1.3vw;
  line-height: 1.2;
  text-align: left;
  width: 100%;
}

.safetyTitle {
  font-size: 2vw;
  font-weight: bold;
}

.safetyCommentDiv {
  line-height: 1.2;
  font-size: 1.3vw;
  width: 100%;
}

.safetyBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 5px;
}

.safetyBtn {
  width: 85%;
  height: 6vh;
  border-radius: 50px;
  border: 1px solid #28400c;
  background-color: var(--limeGreen);
  font-size: 1.9vw;
}

.safetyBtn:hover {
  border: none;
  background-color: #28400c;
  color: white;
  cursor: pointer;
}

.stretchImage {
  width: 20vh;
}

@media (max-width: 1000px) {
  .safetyImage {
    width: 20vw;
    height: 20vw;
    margin-left: 0vw;
    margin-top: 1vh;
    padding: 1vh;
  }

  .stretchImage {
    height: auto;
    width: 20vw;
  }

  .safetyDivContainer {
    width: 30vw;
  }

  .safetyImgHolder {
    height: 25vw;
    display: flex;
    align-items: center;
  }

  .safetyTitle {
    font-size: 3vw;
    height: 5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .safetyDivBottom {
    width: 95%;
    margin-top: 1vh;
  }

  .safetyOL {
    font-size: 1vh;
    padding-left: 3vw;
    overflow: scroll;
    width: 90%;
  }

  .safetyCommentDiv {
    font-size: 1vh;
    width: 95%;
  }
}
