.squareImage {
  width: 18.67vw;
  height: 18.67vw;
  border-radius: 20px;
}

.squareDivContainer {
  position: relative;
  transition: top ease 0.5s;
  border-radius: 20px;
}

.squareDivContainer:hover {
  cursor: pointer;
  top: -10px;
}

.squareDivBottom {
  height: 17vh;
  width: 18.67vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  left: 0px;
  bottom: 0;
  z-index: 1000;
  border-radius: 0 0 15px 15px;
}

.squareButtonContainer {
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
}

.squareBtn {
  height: 8vh;
  width: 20vw;
  margin-right: 2vw;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  color: white;
}

.squareDivWriting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1vh;
  gap: 0.6vh;
}

.squareDivTitle {
  font-size: 1.5vw;
  font-weight: bold;
}

.squareDivComment {
  font-size: 1.3vw;
}

.hoverMove {
  position: relative;
  transition: top ease 0.5s;
}

.hoverMove:hover {
  cursor: pointer;
  top: -10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* ! Mobile Below */

/* Ipad Layout */

@media (max-width: 1000px) and (min-width: 601px) {
  .squareDivsContainer {
    margin-top: 3vh;
    width: 80vw;
    margin-left: 0px;
  }

  .squareImage {
    width: 25vw;
    height: 25vw;
  }

  .squareDivBottom {
    height: 20vw;
    width: 25vw;
    align-items: flex-end;
    bottom: 1vh;
  }

  .squareButtonContainer {
    width: 25vw;
  }

  .squareBtn {
    height: 4vh;
    width: 20vw;
    font-size: 2vh;
  }

  .squareDivTitle {
    font-size: 3.2vw;
    font-weight: bold;
    text-align: left;
  }

  .squareDivComment {
    font-size: 2.5vw;
  }
}

/* Phone Layout */

@media (max-width: 600px) {
  .squareDivsContainer {
    margin-top: 3vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 0px;
  }

  .squareImage {
    width: 37vw;
    height: 37vw;
    border-radius: 20px;
  }

  .squareDivBottom {
    height: 20vw;
    width: 37vw;
    align-items: flex-end;
    bottom: 1vh;
    justify-content: flex-start;
  }

  .squareButtonContainer {
    width: 37vw;
  }

  .squareBtn {
    height: 4vh;
    width: 37vw;
    font-size: 2vh;
  }

  .squareDivTitle {
    font-size: 3.2vw;
    font-weight: bold;
    text-align: left;
  }

  .squareDivComment {
    font-size: 2.5vw;
  }
}
