#taglineDiv {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--forest-color);
}

.mainTag {
  font-size: 80px;
  font-weight: 800;
}

.smallTag {
  line-height: 1.5;
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 1000px) {
  #taglineDiv {
    height: 40vh;
    justify-content: flex-start;
    padding: 8vh 2vw 0vh 2vw;
    gap: 5vh;
  }

  .mainTag {
    font-size: 80px;
    font-weight: 800;
  }
}

@media (max-width: 600px) {
  #taglineDiv {
    height: 55vh;
    padding: 8vh 1vh;
  }

  .mainTag {
    font-size: 8vh;
    font-weight: 800;
  }
}
