#whereDiv {
  margin-top: -5vh;
}

.eightyWidth {
  width: 62vw;
  border-radius: 20px;
}

#searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchDiv {
  background-color: var(--terms);
  width: 60vw;
  height: 16vh;
  border-radius: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 60px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1vh;
}

#whereToDiv {
  width: 22vw;
  min-width: 250px;
}

#datesDiv {
  width: 20vw;
}

#guestsDiv {
  width: 5vw;
}

.inputField {
  width: 95%;
  height: 5.5vh;
  border-radius: 15px;
  border: 1px solid rgb(229, 234, 223);
  font-size: large;
  padding-left: 1vw;
}

#whereToPopUp {
  width: 26vw;
  position: absolute;
  top: 85%;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  min-width: 200px;
}

.hide {
  display: none;
}

.whereToList {
  display: flex;
  height: 10vh;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  align-items: center;
  padding-left: 2vw;
  gap: 2vw;
}

.bottomUnderline {
  border-bottom: 1px solid lightgray;
  width: 20vw;
  height: 8vh;
  display: flex;
  justify-content: start;
  align-items: center;
}

.bottomUnderline:hover {
  border-bottom: 3px solid red;
}

#guestsPopUp {
  width: 15vw;
  position: absolute;
  top: 85%;
  background-color: white;
  border-radius: 15px;
  min-width: 200px;
}

.guestList {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8vh;
  border-bottom: 1px solid lightgray;
  min-width: 200px;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
  min-width: 75px;
  padding-left: 1vw;
  gap: 0.5vh;
}

.addSub {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.circleBtn {
  height: 3vh;
  width: 3vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circleSearchBtn {
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  border: none;
  background-color: var(--green-color);
  color: white;
}

#circleSearchBtn:hover {
  border: 2px solid var(--green-color);
  background-color: white;
  color: var(--green-color);
}

.exitPopUp {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-weight: bolder;
  position: absolute;
  top: 3%;
  right: 3%;
}

.exitPopUp:hover {
  cursor: pointer;
}

.petChoice {
  background-color: var(--green-color);
}

.sideFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 15vw; */
  position: relative;
  top: 10px;
}

@media (max-width: 1000px) {
  #whereDiv {
    height: 100vh;
  }

  #searchDiv {
    flex-direction: column;
  }
}

/* ! mobile css starts here */

#whereDivMobile {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid red;
  margin-left: -10vw;
}

#searchDivMobile {
  /* background-color: blue; */
}

.wMobileHeader {
  color: var(--forest-color);
  font-weight: bolder;
  width: 100vw;
  font-size: 3vh;
  text-align: left;
}

.inputFieldMobile {
  width: 35ch;
  height: 5.5vh;
  border-radius: 15px;
  border: 1px solid rgb(229, 234, 223);
  font-size: large;
  padding-left: 1vw;
}

.inputFieldMobile:focus {
  outline: none !important;
  border: 2px solid var(--forest-color);
}

#whereToPopUpMobile {
  width: 26vw;
  position: absolute;
  top: 85%;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  min-width: 200px;
}

.inputContainerMobile {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1vh;
}

#datesDivMobile {
  padding-top: 5vh;
}
