.circleDivContainer {
  width: 22vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.circleImage {
  height: 35vh;
  width: 35vh;
  /* height: 90%;
  width: 90%; */
}

.circleDivWriting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.circleDivTitle {
  /* font-size: 30px; */
  font-size: 150%;
  height: 8vh;
}

.circleDivComment {
  font-size: 20px;
}
