.sideBySide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
  gap: 2vw;
}

#verticalDivsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

#discoverDiv {
  display: flex;
  margin-left: 10vw;
  margin-top: 6vh;
}

#squareDivsContainer {
  margin-top: 3vh;
  margin-left: 9.5vw;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
}

#mainCircleDiv {
  margin-top: 10vh;
  background-color: white;
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 9.5vw;
  border-radius: 20px;
}
#circleDivsContainer {
  width: 80vw;
  display: flex;
  flex: row;
  gap: 3vw;
}
